root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp}]
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.{json,xml,yml,yaml,md,py,sh}]
end_of_line = lf
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf
indent_style = space
indent_size = 2

[$PBOPREFIX$]
end_of_line = crlf
